h1 {
  color: black;
  text-align: center;
}

h2 {
  color: white;
}

p {
  color: gray;
}
span {
  color: gold;
}

div {
  background-color: black;
  border-radius: 10%;
}

button {
  background-color: gold;
  border-radius: 10%;
}
